@model List<MyApp.Models.Item>
@{
    //key value pair
    // to set the title of the page an pass this value around
    ViewData["Title"] = "Index";
}
<h3>Index</h3>
<div style="text-align: right;">
<a asp-action="Create">Create New</a>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price.ToString("N2")$</td>
            <td>@item.Quantity.ToString()</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            
            
        </tr>
    }
    </tbody>
</table>